@model IEnumerable<RPPP12.Models.Cjenik>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cijena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraKategorijaVozilaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraKucicaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cijena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraKategorijaVozilaNavigation.Opis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraKucicaNavigation.SifraKucica)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { SifraKucica=item.SifraKucica, SifraKategorijaVozila=item.SifraKategorijaVozila }) |
                            @Html.ActionLink("Details", "Details", new { SifraKucica = item.SifraKucica, SifraKategorijaVozila = item.SifraKategorijaVozila }) |
                            @Html.ActionLink("Delete", "Delete", new { SifraKucica = item.SifraKucica, SifraKategorijaVozila = item.SifraKategorijaVozila })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </body>
</html>
