@model RPPP12.Models.Uredaj
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="/scenarij">Scenariji</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/alarm">Alarmi</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/kategorijaScenarija">Kategorije scenarija</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/vrstaUredaja">Vrste uređaja</a>
        </li>

    </ul>
    }
    @section container {
        <div>
            <h4>Uredaj</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraObjektaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraObjektaNavigation.SifraObjekta)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraVrsteUredajaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraVrsteUredajaNavigation.SifraVrsteUredaja)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.SifraUredaja">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    </body>
</html>
