@model IEnumerable<RPPP12.Models.Uredaj>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="Josip Ognjan" content="uređaji">
    <title>Index</title>
</head>
<body>
    @section side_nav{
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="scenarij">Scenariji</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="alarm">Alarmi</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="kategorijaScenarija">Kategorije scenarija</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="vrstaUredaja">Vrste uređaja</a>
        </li>

    </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>

                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-2">2</a></li>
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-3">3</a></li>

                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
</nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraUredaja)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraObjektaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraVrsteUredajaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraUredaja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraObjektaNavigation.SifraObjekta)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraVrsteUredajaNavigation.NazivVrsteUredaja)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraUredaja">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraUredaja">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraUredaja">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
