@model RPPP12.ViewModels.UredajViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="Josip Ognjan" content="uređaji">
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/scenarij">Scenariji</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/alarm">Alarmi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/kategorijaScenarija">Kategorije scenarija</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaUredaja">Vrste uređaja</a>
            </li>

        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>


        <a asp-route-page=@(Model.PagingInfo.CurrentPage == 1 ? 1 : Model.PagingInfo.CurrentPage-1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Nazad</a>
        <a asp-route-page=@(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? Model.PagingInfo.TotalPages : Model.PagingInfo.CurrentPage+1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Napred</a>



        <!--  <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>

                  <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-1">1</a></li>
                  <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-2">2</a></li>
                  <li class="page-item"><a class="page-link" asp-action="Index" asp-route-data="pagination-3">3</a></li>

                  <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? Model.PagingInfo.Ascending? false : true : true)">
                            Šifra Uređaja
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? Model.PagingInfo.Ascending? false : true : true)">
                            Šifra Objekta
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? Model.PagingInfo.Ascending? false : true : true)">
                            Status
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? Model.PagingInfo.Ascending? false : true : true)">
                            Naziv uređaja
                        </a>
                    </th>


                    <th></th>
                </tr>
            </thead>
            <!-- <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Uredaji)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Uredaji)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Uredaji)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Uredaji)
                    </th>
                    <th></th>
                </tr>
            </thead> -->
            <tbody>
                @{
                    int i = 0;
                }

                @foreach (var uredaj in Model.Uredaji)
                {
                    <tr>

                        <td>

                            @Html.DisplayFor(modelItem => uredaj.SifraUredaja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => uredaj.SifraObjektaNavigation.SifraVrstaObjektaNavigation.NazivObjekta)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => uredaj.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => uredaj.SifraVrsteUredajaNavigation.NazivVrsteUredaja)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@uredaj.SifraUredaja">Edit</a> |
                            <a asp-action="Details" asp-route-id="@uredaj.SifraUredaja">Details</a> |
                            <a asp-action="Delete" asp-route-id="@uredaj.SifraUredaja">Delete</a> |
                            <button type="button" class="btn btn-outline-info" onclick="showForm(@i)">?</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:100px;" colspan="6">
                            Scenariji:

                            @foreach (var s in uredaj.Alarm)
                            {
                                @s.SifraScenarijaNavigation.NazivScenarija@((s != uredaj.Alarm.Last()) ? "," : "") <text>&nbsp;</text>
                            }

                        </td>
                    </tr>
                    i = i + 1;
                    <tr class="forma" style="display: none;">
                        <td>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <form asp-action="Edit" asp-route-id="@uredaj.SifraUredaja">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="@uredaj.SifraUredaja" />
                                        <div class="form-group">
                                            <label asp-for="@uredaj.Status" class="control-label"></label>
                                            <input asp-for="@uredaj.Status" class="form-control" />
                                            <span asp-validation-for="@uredaj.Status" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@uredaj.SifraObjekta" class="control-label"></label>
                                            <select asp-for="@uredaj.SifraObjekta" class="form-control" asp-items="ViewBag.SifraObjekta"></select>
                                            <span asp-validation-for="@uredaj.SifraObjekta" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@uredaj.SifraVrsteUredaja" class="control-label"></label>
                                            <select asp-for="@uredaj.SifraVrsteUredaja" class="form-control" asp-items="ViewBag.SifraVrsteUredaja"></select>
                                            <span asp-validation-for="@uredaj.SifraVrsteUredaja" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <buton class="btn btn-primary" type="button" onclick="location.href='@Url.Action("UredajPdf","Report")'">EXPORT PDF</buton>
        <buton class="btn btn-primary" type="button" onclick="location.href='@Url.Action("UredajiExcel","Report")'">EXPORT Excel</buton>
        <buton class="btn btn-primary" type="button" onclick="location.href='@Url.Action("UredajiExcelMaster","Report")'">EXPORT Excel MD</buton>
    }
</body>
</html>
