@model IEnumerable<RPPP12.Models.Uredaj>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraUredaja)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraObjektaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraVrsteUredajaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraUredaja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraObjektaNavigation.SifraObjekta)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraVrsteUredajaNavigation.NazivVrsteUredaja)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraUredaja">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraUredaja">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraUredaja">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </body>
</html>
