@model RPPP12.Models.Dogadaj
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/stanje">Stanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/zabrana">Zabrane</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/razinaOpasnosti">Razine opasnosti</a>
            </li>
        </ul>
    }
    @section container {
        <div>
            <h4>Dogadaj</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DatumVrijeme)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DatumVrijeme)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Link)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Link)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Opis)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Opis)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraDionicaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraDionicaNavigation.Naziv)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraRazinaOpasnostiNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraRazinaOpasnostiNavigation.NazivRazinaOpasnosti)
                </dd>
                <dt>
                    Stanja
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Vrijeme početka
                                </th>
                                <th>
                                    Vrijeme završetka
                                </th>
                                <th>
                                    Opis
                                </th>
                                <th>
                                    Zabrana
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Stanje)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VrijemePocetka)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VrijemeZavrsetka)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Opis)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SifraZabrana)
                                    </td>                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.SifraDogadaj">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    </body>
</html>
