@model RPPP12.ViewModels.DionicaViewModel;


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Ervin Sivac">
    <meta name="description" content="dionice">
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/objekt">Objekti</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaObjekta">Vrste objekata</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/lokacijaPostaje">Lokacije postaja</a>
            </li>
        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <a asp-route-page=@(Model.PagingInfo.CurrentPage == 1 ? 1 : Model.PagingInfo.CurrentPage-1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Nazad</a>
        <a asp-route-page=@(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? Model.PagingInfo.TotalPages : Model.PagingInfo.CurrentPage+1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Napred</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? Model.PagingInfo.Ascending? false : true : true)">
                            Naziv
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? Model.PagingInfo.Ascending? false : true : true)">
                            Duljina
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? Model.PagingInfo.Ascending? false : true : true)">
                            Autocesta
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? Model.PagingInfo.Ascending? false : true : true)">
                            Kraj
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? Model.PagingInfo.Ascending? false : true : true)">
                            Početak
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }

                @foreach (var item in Model.Dionice)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duljina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraAutocesteNavigation.ImeAutoceste)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraKrajaNavigation.NazivLokacije)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraPocetkaNavigation.NazivLokacije)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraDionice">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraDionice">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraDionice">Delete</a> |
                            <button type="button" class="btn btn-outline-info" onclick="showForm(@i)">?</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="padding-left: 100px;">
                            Objekti:

                            @foreach (var ob in item.Objekt)
                            {
                                @ob.SifraVrstaObjektaNavigation.NazivObjekta@((ob != item.Objekt.Last()) ? "," : "") <text>&nbsp;</text>
                            }

                        </td>
                    </tr>
                    i = i + 1;
                    <tr class="forma" style="display: none;">
                        <td>
                            <div class="row">
                                <form asp-action="Edit" asp-route-id="@item.SifraDionice">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@item.SifraDionice" />
                                    <div class="form-group">
                                        <label asp-for="@item.Naziv" class="control-label"></label>
                                        <input asp-for="@item.Naziv" class="form-control" />
                                        <span asp-validation-for="@item.Naziv" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@item.SifraPocetka" class="control-label"></label>
                                        <select asp-for="@item.SifraPocetka" class="form-control" asp-items="ViewBag.SifraPocetka"></select>
                                        <span asp-validation-for="@item.SifraPocetka" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@item.SifraKraja" class="control-label"></label>
                                        <select asp-for="@item.SifraKraja" class="form-control" asp-items="ViewBag.SifraKraja"></select>
                                        <span asp-validation-for="@item.SifraKraja" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@item.SifraAutoceste" class="control-label"></label>
                                        <select asp-for="@item.SifraAutoceste" class="form-control" asp-items="ViewBag.SifraAutoceste"></select>
                                        <span asp-validation-for="@item.SifraAutoceste" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@item.Duljina" class="control-label"></label>
                                        <input asp-for="@item.Duljina" class="form-control" />
                                        <span asp-validation-for="@item.Duljina" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>   
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
