@model IEnumerable<RPPP12.Models.Dionica>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    @section side_nav{
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="/objekt">Objekti</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/vrstaObjekta">Vrste objekata</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/lokacijaPostaje">Lokacije postaja</a>
        </li>
    </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naziv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duljina)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraAutocesteNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraKrajaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraPocetkaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duljina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraAutocesteNavigation.ImeAutoceste)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraKrajaNavigation.NazivLokacije)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraPocetkaNavigation.NazivLokacije)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraDionice">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraDionice">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraDionice">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
