@model RPPP12.Models.NaplatnaKucica
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Delete</title>
</head>
<body>

    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <div>
            <h4>NaplatnaKucica</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SifraBlagajnikaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraBlagajnikaNavigation.Ime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraPostajaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraPostajaNavigation.SifraPostaje)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.VrstaNaplatneKuciceNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VrstaNaplatneKuciceNavigation.VrstaNaplatneKucice1)
                </dd>
            </dl>

            <form asp-action="Delete" asp-route-id="@Model.SifraKucica">
                <input type="hidden" asp-for="SifraKucica" />
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Delete</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete</h4>
                            </div>
                            <div class="modal-body">
                                <p>Želite li sigurno obrisati stavku?</p>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Delete" class="btn btn-default" />
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            </div>
                        </div>
                    </div>
                </div> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    }
    </body>
</html>
