@model RPPP12.Models.NaplatnaKucica
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <div>
            <h4>NaplatnaKucica</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SifraBlagajnikaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraBlagajnikaNavigation.Ime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraPostajaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraPostajaNavigation.SifraPostaje)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.VrstaNaplatneKuciceNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VrstaNaplatneKuciceNavigation.VrstaNaplatneKucice1)
                </dd>
                <dt>
                    Računi
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Registarska oznaka
                                </th>
                                <th>
                                    Datum i vrijeme
                                </th>
                                <th>
                                    Kategorija vozila
                                </th>
                                <th>
                                    Način plaćanja
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Racun)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistarskaOznaka)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DatumVrijeme)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SifraKategorijaVozilaNavigation.Opis)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SifraNacinPlacanjaNavigation.NacinPlacanja1)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.SifraKucica">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
</body>
</html>
