@model RPPP12.ViewModels.NaplatnaKucicaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Marko Prnić">
    <meta name="description" content="naplatne kućice">
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <a asp-route-page=@(Model.PagingInfo.CurrentPage == 1 ? 1 : Model.PagingInfo.CurrentPage-1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Nazad</a>
        <a asp-route-page=@(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? Model.PagingInfo.TotalPages : Model.PagingInfo.CurrentPage+1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Napred</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? Model.PagingInfo.Ascending? false : true : true)">
                            Blagajnik
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? Model.PagingInfo.Ascending? false : true : true)">
                            Naplatna postaja
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? Model.PagingInfo.Ascending? false : true : true)">
                            Vrsta naplatne kućice
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NaplatneKucice)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraBlagajnikaNavigation.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraPostajaNavigation.ImePostaje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VrstaNaplatneKuciceNavigation.VrstaNaplatneKucice1)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraKucica">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraKucica">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraKucica">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:10%;">
                            Računi:

                            @foreach (var rac in item.Racun)
                            {
                                @rac.SifraRacun@((rac != item.Racun.Last()) ? "," : "") <text>&nbsp;</text>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
