@model IEnumerable<RPPP12.Models.NaplatnaKucica>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>

        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraBlagajnikaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraPostajaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VrstaNaplatneKuciceNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraBlagajnikaNavigation.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraPostajaNavigation.ImePostaje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VrstaNaplatneKuciceNavigation.VrstaNaplatneKucice1)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraKucica">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraKucica">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraKucica">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
