@model RPPP12.Models.Upravitelj
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/autocesta">Autoceste</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/sjediste">Sjedište</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/lokacijaAutoceste">Lokacija</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/sustavNaplate">Sustav naplate</a>
            </li>

        </ul>
    }
    @section container {
        <div>
            <h4>Upravitelj</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Oib)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Oib)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Ime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefon)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefon)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraSjedistaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraSjedistaNavigation.Adresa)
                </dd>
                <dt>
                    Autoceste
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Ime autoceste
                                </th>
                                <th>
                                    Nadimak
                                </th>
                                <th>
                                    Kilometraža
                                </th>
                                <th>
                                    Način plaćanja
                                </th>
                                <th>
                                    Početak
                                </th>
                                <th>
                                    Kraj
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Autocesta)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImeAutoceste)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nadimak)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kilometraza)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SifraNacinaPlacanjaNavigation.NacinPlacanja)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SifraPocetkaNavigation.ImeLokacije)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SifraZavrsetkaNavigation.ImeLokacije)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.SifraUpravitelja">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    </body>
</html>
