@model IEnumerable<RPPP12.Models.Upravitelj>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    @section side_nav{
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="autocesta">Autoceste</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="sjediste">Sjedište</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="lokacijaAutoceste">Lokacija</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="sustavNaplate">Sustav naplate</a>
        </li>

    </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Oib)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SifraSjedistaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oib)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraSjedistaNavigation.Adresa)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraUpravitelja">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraUpravitelja">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraUpravitelja">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
