@model RPPP12.Models.Alarm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Alarm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SifraOperatera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SifraOperatera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SifraDogadajaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SifraDogadajaNavigation.SifraDogadaj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SifraScenarijaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SifraScenarijaNavigation.NazivScenarija)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SifraUredajaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SifraUredajaNavigation.SifraUredaja)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
