@model RPPP12.ViewModels.NaplatnaPostajaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Petra Mišeta">
    <meta name="description" content="naplatne postaje">
    <title>Index</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/zaposlenik">Zaposlenici</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaZaposlenika">Vrste zaposlenika</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/lokacijaPostaje">Lokacije postaja</a>
            </li>

        </ul>
    }
    @section container {
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <a asp-route-page=@(Model.PagingInfo.CurrentPage == 1 ? 1 : Model.PagingInfo.CurrentPage-1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Nazad</a>
        <a asp-route-page=@(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? Model.PagingInfo.TotalPages : Model.PagingInfo.CurrentPage+1)
           asp-route-sort=@(Model.PagingInfo.Sort) asp-route-ascending=@(Model.PagingInfo.Ascending)>Napred</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? Model.PagingInfo.Ascending? false : true : true)">
                            Ime postaje
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? Model.PagingInfo.Ascending? false : true : true)">
                            Dionica
                        </a>
                    </th>
                    <th>
                        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? Model.PagingInfo.Ascending? false : true : true)">
                            Lokacija postaje
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NaplatnePostaje)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImePostaje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraDioniceNavigation.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraLokacijePostajeNavigation.NazivLokacije)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifraPostaje">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifraPostaje">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifraPostaje">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:10%;">
                            Zaposlenici:

                            @foreach (var zap in item.Zaposlenik)
                            {
                                @zap.Ime <text>&nbsp;</text> @zap.Prezime@((zap != item.Zaposlenik.Last()) ? "," : "") <text>&nbsp;</text>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
