@model IEnumerable<RPPP12.Models.NaplatnaPostaja>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SifraDionice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImePostaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifraLokacijePostajeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SifraDionice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImePostaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifraLokacijePostajeNavigation.NazivLokacije)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SifraPostaje">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SifraPostaje">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SifraPostaje">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
