@model RPPP12.Models.Racun
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <div>
            <h4>Racun</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RegistarskaOznaka)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RegistarskaOznaka)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DatumVrijeme)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DatumVrijeme)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraKategorijaVozilaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraKategorijaVozilaNavigation.Opis)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraKucicaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraKucicaNavigation.SifraKucica)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SifraNacinPlacanjaNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SifraNacinPlacanjaNavigation.NacinPlacanja1)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.SifraRacun">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    </body>
</html>
